body {
  background-color: #2b2733;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 0;
}

header {
  display: grid;
  height: 10%;
  background: #46424D;
  margin: 0;
  position: relative;
  font-weight: lighter !important;
  font-size: 15px;
  letter-spacing: .1em;
}

header h1 {
  justify-self: center;
  color: #FFF;
}

.main-page {
  display: flex;
  height: 90%;
  width: 100%;
}

.section-left {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #46424D;
  width: 70%;
  height: 100%;
  background: #2b2733;
}

.new-activity-title {
  padding-left: 1em;
  margin: 1.5em 0em 0.5em 0em;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 3em 5em;
  background:#46424D;
  margin: 0.5em 1.5em;
  height: 30em;
  border-radius: 3.5px;
}

.category-boxes {
  display: flex;
  justify-content: space-between;
  color: #CBC9CF;
  margin-bottom: 4em;
}

.current-activity-page {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.choice-button {
  height: auto;
  width: 25%;
  border-color: #CBC9CF;
  color: #CBC9CF;
  background-color: #46424D;
  border-radius: 4.5px;
  cursor: pointer;
}

img {
  height: 20px;
  width: 20px;
  padding-top: 5px;
}

.study.btn {
  background: url("./assets/study-active.svg");
  border: 2px solid #B3FD78;
  color: #B3FD78;
}

.my-form {
  height: 30%;
  background: #46424D;
  padding: 0em 0em;
}

.form-group {
  padding-bottom: 15px;
}

label {
  display: inline;
}

.my-form input[type="text"]{
  padding: 8px;
  width:100%;
  background: #46424D;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 20px;
}

.my-form input[type="submit"]{
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.second-line {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
}

.second-line > div {
  width: 16em;
}

.start-btn {
  display: flex;
  justify-content: flex-end;
  padding: 2.5em 0em;
}


.start-timer {
  border-radius: 100%;
  width:20em;
  height:20em;
  border-width:5px;
  background: #46424D;
  margin:auto;
  font-size: 12px; 
}

.start-btn > button {
    height: 2.5em;
    width: 13em;
    background: #FFF;
    color: #46424D;
    font-size: 1em;
    letter-spacing: .09;
    border-radius: 5px;
  }

.section-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  background: #2b2733;
  margin: 0em 1.5em;
  color: #fff;
}

.past-activities-title {
    margin: 1.5em 0em 0.5em 0em;
}

.logged-card {
  height: 15%;
  width: 95%;
  margin: 2% 0%;
  border-radius: 3.5px;
  background: #46424D;
  border-right: 4px solid #C278FD;
}

.logged-card > h3, p {
  margin: 0;
  padding: 1% 2%;
}

/* //This is just a reference */

.text-main  {
 color: #CBC9CF;
}

.text-header {
  color:#46424D
}

.card-shadow {
  color:#26222D
}

h4 {
  margin-top:3.5px;
}

.text-card-head {
  color: #FFF;
}

.study {
  color:#B3FD78;
  border-color:#B3FD78;
}

.meditate {
  color: #C278FD;
  border-color:#C278FD;

}

.exercise {
  color: #FD8078;
  border-color: #FD8078;
}

.error {
  color: #EFB7EC
}
.hidden {
  display: none;
}
/* This is for the Current Activity page */

.timer {
  justify-content: center;
  color: inherit;
}

@media only screen and (max-width: 1100px) {
  .second-line > div {
    width: 11em;
  }

    .start-btn {
    justify-content: center;
  }
}

@media only screen and (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .main-page {
    display: flex;
    flex-direction: column;
  }

  .section-left {
    width: 100%;
    border-style: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em 5em;
    background:#46424D;
    margin: 0.5em 1.5em;
    height: 33em;
    border-radius: 3px;
  }

  .category-boxes {
     display: flex;
     flex-direction: column;
     color: #CBC9CF;
   }

  .choice-button {
    display: flex;
    flex-direction: column;
    border-color: #CBC9CF;
    color: #CBC9CF;
    background-color: #46424D;
    border-radius: 3px;
    margin: .5em;
    align-items: center;
    width: auto;
  }

  .section-right {
    width: 97%;
  }

  .start-btn {
    justify-content: center;
  }

  .second-line > div {
    width: 7em;
  }

  .study {
  color:#B3FD78;
  border-color:#B3FD78;
}

.meditate {
  color: #C278FD;
  border-color:#C278FD;

}

.exercise {
  color: #FD8078;
  border-color: #FD8078;
}
}
